@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

*{
    font: 'Noto Serif', serif;
    font-weight: bold;
    margin: 0.2rem ;
    padding: 0.1rem;
    background-color: yellow;
}

td{
    display: table-cell;
}

.large{
    width: 100% ;
}

input, textarea{
    height: 1.5em;
    background-color: white;
    border: 1px solid white ;
    box-shadow: white;
    border-radius: 8px;
}

